header {
    
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 15px;
    right: 0px;
    left: 0px;

}

.flex {
    display: flex;
}

.left_section {
    
    margin-inline: 20px;
}

.hamburger {
    width: 24px;
}

.logo {
    width: 90px;
    margin-left: 15px;
}

.middle_section {
   
    flex: 1;
    margin-inline: 50px;
    justify-content: center;
    
}

.search {
    margin-right: -3px;
    flex: 1;
    width: 10px;
    max-width: 520px;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 2px;
    font-size: 15px;
    padding-left: 7px;
    

}

.search_b {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid rgb(202, 198, 198);
    border-radius: 2px;
    height: 39px;

}

.lupa {
    width: 24px;
    margin-inline: 10px;
   
    
}

.voice {
    width: 24px;
    margin-left: 10px;
}

.right_section {
    justify-content: space-between;
    width: 120px;
    align-items: center;
    margin-right: 10px;
}

.right_section img {
    width: 24px;
}

.profile_p {
    width: 34px !important;
    height: 34px;
    border-radius: 17px;
}

